body { font-family: Helvetica, Arial, sans-serif; }

#divImg { position: relative; }
#imgFace {
  position: relative;
  top: 0;
}
#toSplit {
  position: static;
  width: 80%;
  font-size: 1.5em;
}

#vidBungee {
  max-height:720px;
  width:auto;
}

.atRest { display: inline-block; }

/* For animated (spinning) elements */
.se0 {
  display: inline-block;
  position: relative;
          animate:flyLR 6s 1;
     -moz-animate:flyLR 6s 1;
  -webkit-animate:flyLR 6s 1;
          animation-timing-funcion: linear;
     -moz-animation-timing-funcion: linear;
  -webkit-animation-timing-funcion: linear;
}
.se1 {
  display: inline-block;
  position: relative;
          animate:flyLL 6s 1;
     -moz-animate:flyLL 6s 1;
  -webkit-animation:flyLL 6s 1;
          animation-timing-funcion: linear;
     -moz-animation-timing-funcion: linear;
  -webkit-animation-timing-funcion: linear;
}
.se2 {
  display: inline-block;
  position: relative;
          animate:flyUR 6s 1;
     -moz-animate:flyUR 6s 1;
  -webkit-animation:flyUR 6s 1;
          animation-timing-funcion: linear;
     -moz-animation-timing-funcion: linear;
  -webkit-animation-timing-funcion: linear;
}

@-webkit-keyframes flyLR /* Safari and Chrome */ {
  from {top:0px; left:0px }
  to {
    top:400px;
    left:400px;
    -webkit-transform: rotate(270deg);
    writing-mode: lr-tb;
  }
}
@-webkit-keyframes flyLL /* Safari and Chrome */ {
  from {top:0px; left:0px }
  to {
    top:400px;
    right:400px;
    -webkit-transform: rotate(270deg);
    writing-mode: lr-tb;
  }
}
@-webkit-keyframes flyUR /* Safari and Chrome */ {
  from {top:0px; left:0px }
  to {
    bottom:400px;
    left:400px;
    -webkit-transform: rotate(270deg);
    writing-mode: lr-tb;
  }
}

#spinWord {
  position:relative;
  display: inline-block;
          animation:fly 3s infinite;
       -o-animation:fly 3s infinite; /* Firefox */
     -moz-animation:fly 3s infinite; /* Firefox */
  -webkit-animation:fly 3s infinite; /* Safari and Chrome */
}
@keyframes fly {
  from {top:0px;   left:0px }
  to   {top:100px; left:100px; }
  transform: rotate(270deg);
  writing-mode: lr-tb;
}
@-moz-keyframes fly /* Firefox */ {
  from {top:0px;   left:0px }
  to   {top:100px; left:100px; }
  -moz-transform: rotate(270deg);
  writing-mode: lr-tb;
}
// -o-transform: rotate(180deg);

#spinWord.fly {
  animation-name: fly;
  animation-duration: 3s;
  animation-timing-funcion: linear;
  -webkit-animation-name: fly;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-funcion: linear;

  animation-iteration-count: 10;
/*animation-direction: normal;  Default */
  animation-delay: 0.5s;
  animation-play-state: running;
  animation-fill-mode: both;
}

@keyframes none {
}

@keyframes fly {
   0% {
      bottom: 0;
      left: 340px;
      background: #f00;
   }

   33% {
      bottom: 340px;
      left: 340px;
      background: #ffd630;
   }

   66% {
      bottom: 340px;
      left: 40px;
      background: #ffd630;
   }

   100% {
      bottom: 0;
      left: 40px;
      background: #f00;
   }
}
