body { font-family: Helvetica, Arial, sans-serif; }

#toSplit {
  position: relative;
}

/*-----------------------------*
 | jsfiddle.net/allusis/dQQcX/ |
 *-----------------------------*/

.atRest { display: inline-block; }

/* For animated (spinning) elements */
.se0 {
  display: inline-block;
  position: relative;
          animate:flyLR 2s 1;
     -moz-animate:flyLR 2s 1;
  -webkit-animation:flyLR 2s 1;
          animation-timing-funcion: linear;
     -moz-animation-timing-funcion: linear;
  -webkit-animation-timing-funcion: linear;
}
.se1 {
  display: inline-block;
  position: relative;
          animate:flyLL 2s 1;
     -moz-animate:flyLL 2s 1;
  -webkit-animation:flyLL 2s 1;
          animation-timing-funcion: linear;
     -moz-animation-timing-funcion: linear;
  -webkit-animation-timing-funcion: linear;
}
.se2 {
  display: inline-block;
  position: relative;
          animate:flyUR 2s 1;
     -moz-animate:flyUR 2s 1;
  -webkit-animation:flyUR 2s 1;
          animation-timing-funcion: linear;
     -moz-animation-timing-funcion: linear;
  -webkit-animation-timing-funcion: linear;
}

#spinWord {
  position:relative;
  display: inline-block;
          animation:fly 3s infinite;
       -o-animation:fly 3s infinite; /* Firefox */
     -moz-animation:fly 3s infinite; /* Firefox */
  -webkit-animation:fly 3s infinite; /* Safari and Chrome */
}
@keyframes fly {
  from {top:0px;   left:0px }
  to   {top:100px; left:100px; }
  transform: rotate(270deg);
  writing-mode: lr-tb;
}
@-moz-keyframes fly /* Firefox */ {
  from {top:0px;   left:0px }
  to   {top:100px; left:100px; }
  -moz-transform: rotate(270deg);
  writing-mode: lr-tb;
}

@-webkit-keyframes flyLR /* Safari and Chrome */ {
  from {top:0px; left:0px }
  to {
    top:100px;
    left:100px;
    -webkit-transform: rotate(270deg);
    writing-mode: lr-tb;
  }
}
@-webkit-keyframes flyLL /* Safari and Chrome */ {
  from {top:0px; left:0px }
  to {
    top:100px;
    right:100px;
    -webkit-transform: rotate(270deg);
    writing-mode: lr-tb;
  }
}
@-webkit-keyframes flyUR /* Safari and Chrome */ {
  from {top:0px; left:0px }
  to {
    bottom:100px;
    left:100px;
    -webkit-transform: rotate(270deg);
    writing-mode: lr-tb;
  }
}
// -o-transform: rotate(180deg);

#divRectangle {
  width: 100px;
  height: 50px;
  color: white;
  background-color: blue;
}

#vidBungee {
  max-width:1920px;
  height:auto;
}

#spinWord.fly {
  animation-name: fly;
  animation-duration: 3s;
  animation-timing-funcion: linear;
  -webkit-animation-name: fly;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-funcion: linear;

  animation-iteration-count: 10;
/*animation-direction: normal;  Default */
  animation-delay: 0.5s;
  animation-play-state: running;
  animation-fill-mode: both;
}

/*
#spinWord {
  color: green;
  font-style: oblique;
} */

@keyframes none {
}

@keyframes fly {
   0% {
      bottom: 0;
      left: 340px;
      background: #f00;
   }

   33% {
      bottom: 340px;
      left: 340px;
      background: #ffd630;
   }

   66% {
      bottom: 340px;
      left: 40px;
      background: #ffd630;
   }

   100% {
      bottom: 0;
      left: 40px;
      background: #f00;
   }
}
