h1	{
	text-align: center;
}

 h2	{
	text-align: center;
	padding-top: 100px;
	margin-top: 40px;
 }

 li {
  display:inline-block;
  list-style: none;
  justify-content: center;
  align-items: center;
float:left;
  margin:5px;
}

.header {
  position: fixed;
  top:0px;
  width:100%;
	background-color: #88C5FF;
	margin-left: 0px;
}

.navContainer {
	text-align: center;
	margin-top: 0px;
}

.anchortags {
	text-align: justify;
	margin-left: 10px;
	padding-left: :10px;
}

a:hover {
	background-color: #FFEB9D;
	border-radius: 10em;
}

a {
	text-decoration: none;
}

body {
	margin: 0px;
	background-image: url("pro3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

footer {
	text-align: center;
}

.formChoice {
	margin:30px;
	text-align: center;
}

.formAge{
	margin:30px;
	text-align: center;
}

.formContact {
	margin:30px;
	text-align: center;
	border: none;

}

.formComments {
	margin:30px;
	text-align: center;
}

.submit {
	margin:30px;
	text-align: center;
}
